* {
    padding: 0%;
    margin: 0%;
}

body{
    font-family:arial, sans-serif;
}

.cabecalho {
    background-color: rgba(151, 113, 32, 0.863) ;
}

.botao {
    width:400px;
    height: 25px;
    margin: 0px 0px 0px 20px;
    border: none;
    border-radius: 2px;
    background-color: white;
}

.questao {
    margin:0px 0px 0px 180px;
}

.container {
    background-color: rgb(57, 212, 83);
    background-image: linear-gradient(130deg , transparent, rgba(0,0,0,.4));
    padding: 40px;
    
    
}
.enunciado {
    margin:0px 0px 0px 25px;
}

/* questao 1*/
#d1 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#a1 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#b1 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#c1 {
    position: absolute;
    margin:100px 100px 200px 460px;
    display: none;
}

/* questao 2*/
#a2 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#b2 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#c2 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#d2 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

/* questao 3*/
#a3 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#b3 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#c3 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#d3 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

/* questao 4*/
#a4 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;

}

#b4 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#c4 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#d4 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

/* questao 4*/
#a5 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;

}

#b5 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#c5 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#d5 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}


/* questao 6*/
#a6 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;

}

#b6 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#c6 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#d6 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

/* questao 7*/
#a7 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;

}

#b7 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#c7 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#d7 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

/* questao 8*/
#a8 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;

}

#b8 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#c8 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#d8 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

/* questao 9*/
#a9 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;

}

#b9 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#c9 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#d9 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

/* questao 10*/
#a10 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;

}

#b10 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#c10 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}

#d10 {
    position: fixed;
    margin:100px 100px 200px 460px;
    display: none;
}