* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: arial, sans-serif;
}

.modelo {
    display: none;
}

.cabecalho {
    background-color: rgba(151, 113, 32, 0.863);
}

h1 {
    max-width: 450px;
    padding: 20px;
    text-align: center;
}

p {
    max-width: 520px;
    padding: 10px;
}

.imagens {
    position: fixed;
}

.imagens div {
    display: none;
    position: fixed;
    left: 500px;
    transition: all 0.2s ease 0s;
}

.buttonsArea {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
}

.botao {
    flex: 1;
    height: 25px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    outline: 0;
    border-radius: 10px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
}

.botao:hover:not(.correta):not(.errada):not(.respondido) {
    background-color: #ddd;
}

.correta {
    background-color: #90ff90;
}

.errada {
    background-color: #ff9090;
}

.questaoArea {
    max-width: 400px;
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .8);
}

.questaoArea:first-child {
    margin-top: 0;
}

.questaoArea:last-child {
    margin-bottom: 0;
}

.questao {
    align-self: center;
    color: #fff;
}

.container {
    background-color: rgb(57, 212, 83);
    background-image: linear-gradient(130deg, transparent, rgba(0, 0, 0, .4));
    padding: 40px;
    display: flex;
    flex-flow: column;
}

.enunciado {
    align-self: center;
    text-align: center;
    margin-top: 10px;
    color: #fff;
}